---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0;
}

footer {
  padding: 30px 0;
  border-top: 1px solid #eee;
}

.navbar-default {
  font-size: 18px;
  padding-top: 26px;
  float: right;
}

.top-menu-item {
  display: inline-block;
  padding: 10px;
  &:hover {
    color: #4078c0;
  }
}

.cleaner {
  clear: both;
}

.post-img {
  /*float: left;*/
  display: table-cell;
  padding: 0 10px 0 0;
}

.show-details {
  margin-top: -10px;
}

.calendar-date {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.carousel {
  margin-bottom: 30px;
}

.carousel-caption {
  width: 100%;
  padding-top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
  bottom: 5px;
}

#calendar {
  padding-top: 18px;
}

#calendar .fc-left h2 {
  font-size: 30px;
  padding-top: 4px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#calendar .fc-left h2:before {
  content: 'Kalendár akcií - ';
}

#calendar .fc-toolbar .fc-right {
  padding-top: 5px;
}

.popover {
  max-width: 400px;
}

.popover-title .title-row {
  padding-top: 8px;
}

.contacts-icon {
  margin-right: 5px;
}

img.contacts-icon {
  vertical-align: text-top;
  width: 15px;
}

.pic {
  box-sizing: border-box;
  height: 225px;
  width: 300px;
  overflow: hidden;
}

.grow img {
  position: relative;
  top: 0;
  left: 0;
  height: 225px;
  width: 300px;
  transition: all 1s ease;
}
 
.grow img:hover {
  position: relative;
  top: -37.5px;
  left: -50px;
  height: 300px;
  width: 400px;
}

.album-container {
  position: relative;
  display: inline-block;
  box-shadow: 3px 3px 3px #333;
  margin: 0 20px 20px 0;
}

.album-caption {
  color: white;
  position: absolute;
  width: 100%;
  padding: 0 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.gallery img {
  vertical-align: baseline;
  padding: 5px;
  margin: 0 5px 5px 0;
  box-shadow: 3px 3px 3px #333;
  background-color: #333;
}

.pagination {
  display: block;
  text-align: center;
}

.pagination a {
  padding: 0 5px;
}