---
layout: my-layout
title: Úvod
---

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/img/nabor-2017.jpg" alt="Nábor">
      <div class="carousel-caption">
        <h3><a href="{% post_url 2017-09-05-nabor %}">Nábor – školský rok 2017/2018</a></h3>
        <p>JUMP ROPE FACTORY otvára krúžok jump ropu.</p>
      </div>
    </div>

    <div class="item">
      <img src="/img/treningy-pre-deti.jpg" alt="Tréningy pre deti a mládež">
      <div class="carousel-caption">
        <h3><a href="{{site.url_treningy_pre_deti}}">Tréningy pre deti a mládež</a></h3>
        <p>Trénuj jump rope na súťaže a vystúpenia.</p>
      </div>
    </div>

    <div class="item">
      <img src="/img/treningy.jpg" alt="Tréningy">
      <div class="carousel-caption">
        <h3><a href="{{site.url_treningy_pre_dospelych}}">Kondičné tréningy pre dospelých</a></h3>
        <p>Kombinácia švihladla s posilňovacími cvičeniami.</p>
      </div>
    </div>

    <div class="item">
      <img src="/img/vystupenia.jpg" alt="Vystúpenia">
      <div class="carousel-caption">
        <h3><a href="{{site.url_kontakt}}">Vystúpenia a tréningy</a></h3>
        <p>Športové podujatia, festivaly, teambuildingy a ďalšie eventy.</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <div class="col-md-6 col-xs12">
    <h2>Aktuálne</h2>
    <div>
      {% for post in site.posts %}
        <div>
          <div class="table">
            <div class="table-row">
              <span class="table-cell">{{ post.date | date: "%e. %m. %Y" }}</span>
              <strong class="table-cell" style="padding-bottom: 10px;">{{ post.title }}</strong>
            </div>
            <div class="table-row">
              {% if post.imgThumb %}
              <div class="post-img">
                <a href="/img/{{ post.img }}" data-lightbox="{{ post.img }}"><img src="/img/{{ post.imgThumb }}" title="{{ post.title }}" alt="{{ post.title }}" width="200"/></a>
              </div>
              {% endif %}
              <div class="table-cell">
              {{ post.excerpt }}
              {% if post.showDetails == true %}
                <p class="show-details"><a href="{{ post.url }}">Zobraziť detaily</a></p>
              {% endif %}
              </div>
            </div>
          </div>
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6 col-xs12 google-calendar">
    <div id="calendar"></div>
  </div>

</div>
<script src="js/calendar.js"></script>
<script src="https://apis.google.com/js/client.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="bower_components/fullcalendar/dist/gcal.js"></script>
<script src="bower_components/fullcalendar/dist/lang/sk.js"></script>
<link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.min.css" type="text/css" />
